*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Animated-bg{
  position: relative;
  height: 100vh;
  background: linear-gradient(135deg, rgba(125,93,0,1) 0%, rgba(146,90,83,1) 40%, rgba(52,10,94,1) 100%);;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Animated-bg span{
  position: absolute;
  pointer-events: none;
  display: block;
  animation: animate 5s linear infinite;
  z-index: 2;
}
@keyframes animate{
  0%{
    transform: scale(0) translateY(0) rotate(0deg);
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  100%{
    transform: scale(1) translateY(-500%) rotate(360deg);
    opacity: 0;
  }
}
.bg-vue{
  background-image: url('../logos/vue.png');
  background-size: contain;
}
.bg-react{
  background-image: url('../logos/react.png');
  background-size: contain;
}
.bg-angular{
  background-image: url('../logos/angular.png');
  background-size: contain;
}
.bg-svelte{
  background-image: url('../logos/svelte.png');
  background-size: contain;
}