*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.animated-bg{
  position: relative;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.animated-bg span{
  position: absolute;
  pointer-events: none;
  display: block;
  animation: animate 5s linear infinite;
}
@keyframes animate{
  0%{
    transform: scale(0) translateY(0) rotate(0deg);
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  100%{
    transform: scale(1) translateY(-500%) rotate(360deg);
    opacity: 0;
  }
}
.bg-vue{
  background-image: url('../logos/vue-icon.svg');
  background-size: contain;
}
.bg-react{
  background-image: url('../logos/react-icon.svg');
  background-size: contain;
}
.bg-angular{
  background-image: url('../logos/svelte-icon.svg');
  background-size: contain;
}
.bg-svelte{
  background-image: url('../logos/angular-icon.svg');
  background-size: contain;
}