#Cabecera{
  position: absolute;
  width: 100%;
  min-height: 80px;
  max-height: 120px;
  background: rgba(255, 255, 255, .2);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Cabecera img{
  width: 10%;
  height: auto;
  margin: 10px;
}
#Cabecera button{
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  outline: none;
}