#Cabecera{
  position: absolute;
  width: 100%;
  min-height: 100px;
  max-height: 120px;
  border-bottom: 1px solid rgb(222, 222, 223);
  background: rgb(255, 255, 255);
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Cabecera img{
  width: 15%;
  height: auto;
  margin: 10px;
}
#Cabecera button{
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  outline: none;
}