#Comunidades{
  height: 300px;
  width: 300px;
  background: gray;
  margin: 0 20px;
}
#Comunidades a{
  color: #fff;
  text-decoration: none;
  font-weight: bolder;
}
#Comunidades .titulo{
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
#Comunidades .titulo h2{
  color: #fff;
}
#Comunidades ul{
  padding: 8px 15px;
  list-style: none;
}
#Comunidades ul li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #fff;
}
.comunidad{
  display: flex;
}
.comunidad img{
  width: 40px;
  margin-right: 10px;
}