#Contador{
  width: 900px;
  text-align: center;
  margin: 14px;
}
#Contador h4{
  padding-bottom: 16px;
}
#Contador .tiempo{
  display: flex;
  justify-content: space-around;
}
#Contador .tiempo div{
  text-align: center;
}