@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.card{
  text-align: center;
  z-index: 5;
  font-family: 'Montserrat', sans-serif;
}
.card img{
  width: 15%;
}
.alert {
  color: red;
  margin: 15px 0px;
}

.switcher{
  width: 100%;
  margin: 20px 0;
}
.n-link{
  font-weight: bolder;
  text-decoration: none;
  color: inherit;
}
